<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinliang.mapper.OperateTableMapper">


    <update id="createNewTable">
        ${createTable}
    </update>



    <update id="updateTable">
        ${updateTable}
    </update>
    <update id="createTable">
        ${colums}

    </update>
    <!--<update id="createTable" parameterType="list">-->
        <!--create table ${tableName} (-->
          <!--<foreach collection="cloums" item="column" separator=",">-->
              <!--#{column.name} #{column.type}-->
          <!--</foreach>-->
        <!--) ENGINE=InnoDB DEFAULT CHARSET=utf8-->


    <!--</update>-->
</mapper>